In [1]:
import pandas as pd
from functools import reduce

In [2]:
file = "Resources/purchase_data.csv"
heroes_df = pd.read_csv(file, encoding="utf-8")
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Create a unique list of players (series) and count
players_series = heroes_df["SN"].value_counts()
count_players = players_series.count()

# Create a new dictionary and turn it into data frame (for display)
total_players_dict = [{"Total Players": count_players}]
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            576

In [4]:
# 1.a Number of unique items
items_df = heroes_df.groupby("Item ID")
items_count = len(items_df)

# 1.b Alternative for counting items
items_series = heroes_df["Item ID"].value_counts() # series counts appearances by item (e.g. ID 0 = 4, 178 = 12 )
count_items = items_series.count() # count rows or unique items

# 2 Average price (of total purchases, not unique items)
average_price = heroes_df["Price"].mean()

# 3 Number of purchases
purchases = len(heroes_df)

# 4 Total revenue
revenue = heroes_df["Price"].sum()

# 5 Purchasing dictionary: putting it all together
purchasing_dict = [{"Number of Unique Items": items_count, 
               "Average Price": average_price, 
               "Number of Purchases": purchases,
              "Total Revenue": revenue}]
purchasing_df = pd.DataFrame(purchasing_dict)


purchasing_df = purchasing_df.style.format({"Average Price": "${:.2f}","Total Revenue": "${:.2f}"})
purchasing_df

In [7]:
gender_df = heroes_df["Gender"]
gender_list = []
for row in gender_df:
    if row not in gender_list:
        gender_list.append(row)
gender_list

['Male', 'Other / Non-Disclosed', 'Female']

In [9]:
def gender_stats(i):
    gender = gender_list[i]
    
    df = heroes_df.loc[heroes_df["Gender"] == gender, ["SN","Gender"]]
    total = len(df.groupby(["SN"]))
    percent = total/count_players
    return total, percent

male_stats = list(gender_stats(0))
other_stats = list(gender_stats(1))
female_stats = list(gender_stats(2))

In [10]:
# Player Gender Analysis
total_players = [male_stats[0], other_stats[0], female_stats[0]]
percent_players = [male_stats[1], other_stats[1], female_stats[1]]

gender_data = pd.DataFrame({"Total Players": total_players,
                  "Percentage of Players": percent_players}, index= gender_list)

gender_data = gender_data.style.format({"Total Players": "{:.0f}","Percentage of Players": "{:.2%}"})

gender_data

In [ ]:
# Purchases by Gender Function
def purchase_stats(i):
    gender = gender_list[i]
    
    df = heroes_df.loc[heroes_df["Gender"] == gender, ["SN","Gender", "Price"]]
    purchases = len(df)
    avg_price = df["Price"].mean()
    total_value = df["Price"].sum()
    avg_purchase = total_value/total_players[i]
    return purchases, avg_price, total_value, avg_purchase
    
male_purchases = list(purchase_stats(0))
other_purchases = list(purchase_stats(1))
female_purchases = list(purchase_stats(2))

In [ ]:
# Purchases by Gender Visualization 
purchase_df = pd.DataFrame({"Total Purchases": [male_purchases[0], other_purchases[0], female_purchases[0]],
                     "Average Price": [male_purchases[1], other_purchases[1], female_purchases[1]],
                     "Purchase Value":[male_purchases[2], other_purchases[2], female_purchases[2]],
                     "Average Purchase":[male_purchases[3], other_purchases[3], female_purchases[3]]}, index= gender_list)

purchase_df = purchase_df.style.format({"Average Price": "${:.2f}","Purchase Value": "${:.2f}","Average Purchase": "${:.2f}"})
purchase_df

In [ ]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 1000]
age_range = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]

age_df = heroes_df[["SN", "Age", "Price"]]
age_df["Age Range"] = pd.cut(age_df["Age"], bins, labels=age_range, right=False, include_lowest=True)

age_range_df = age_df[["SN","Age Range"]].drop_duplicates(subset="SN")
age_range_df = age_range_df["Age Range"].value_counts(sort=False).to_frame()
age_range_df["Percentage of Players"] = (age_range_df["Age Range"]/count_players).map("{:.2%}".format)

age_range_df.rename(columns = {"Age Range":"Total Count"})

In [ ]:
age_purchase_count = age_df.groupby('Age Range')['Price'].count().to_frame()
age_purchase_value =age_df.groupby('Age Range')['Price'].sum().to_frame()
age_purchase_avg = age_df.groupby('Age Range')['Price'].mean().to_frame()

age_dfs = [age_purchase_count, age_purchase_value, age_purchase_avg]
age_df_merge = reduce(lambda left,right: pd.merge(left,right,on="Age Range"), age_dfs)
age_df_merge["Average P/Person"] = age_df_merge["Price_y"]/age_df_merge["Price_x"]

age_df_final = age_df_merge.rename(columns={"Price_x":"Purchase Count", 
                                            "Price_y":"Total Purchase Value", 
                                            "Price":"Average Purchase Price"})

age_df_final = age_df_final.style.format({"Total Purchase Value": "${:.2f}",
                                          "Average Purchase Price": "${:.2f}",
                                         "Average P/Person":"${:.2f}"})

age_df_final

In [ ]:
count_spenders = heroes_df[["SN", "Price"]].groupby(["SN"]).count()
value_spenders = heroes_df[["SN", "Price"]].groupby(["SN"]).sum()

merge_spenders = pd.merge(count_spenders, value_spenders, on="SN")
merge_spenders["avg"] = (merge_spenders["Price_y"]/merge_spenders["Price_x"]).map("${:.2f}".format)

top_spenders = merge_spenders.sort_values("Price_y", ascending=False).head(5)
top_spenders = top_spenders.rename(columns={"Price_x":"Purchase Count", 
                                            "Price_y":"Total Purchase Value", 
                                            "avg":"Average Purchase Price"})
top_spenders

In [ ]:
items_desc = heroes_df[["Item ID","Item Name", "Price"]].drop_duplicates(["Item ID"])
items_count = heroes_df[["Item ID", "Price"]].groupby(["Item ID"]).count()
items_value = heroes_df[["Item ID", "Price"]].groupby(["Item ID"]).sum()

dfs = [items_desc, items_count, items_value]
df_final = reduce(lambda left,right: pd.merge(left,right,on="Item ID"), dfs).set_index("Item ID")

popular_items = df_final.sort_values("Price_y", ascending=False).head(5)
popular_items = popular_items.rename(columns={"Price_x":"Item Price", 
                                            "Price_y":"Purchase Count", 
                                            "Price":"Total Purchase Value"})


popular_items = popular_items[["Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]
popular_items.iloc[:,2] = popular_items.iloc[:,2].map('${:,.2f}'.format)
popular_items.iloc[:,3] = popular_items.iloc[:,3].map('${:,.2f}'.format)

popular_items

In [ ]:
profitable_items = df_final.sort_values("Price", ascending=False).head(10)
profitable_items = popular_items.rename(columns={"Price_x":"Item Price", 
                                            "Price_y":"Purchase Count", 
                                            "Price":"Total Purchase Value"})

profitable_items

In [ ]:
# attempt 
"""def gender_stats_2(gender):
    for gender in gender_list:
        gender = gender
        
        df = heroes_df.loc[heroes_df["Gender"] == gender, ["SN","Gender"]]
        total = len(df.groupby(["SN"]))
        totals =[]
        totals.append(total)
        return totals
        
totals = gender_stats_2(gender_list)
totals"""